html, body {
    margin: 0;
    padding: 0;

    font-family: "Iosevka Nerd Font", "sans-serif";
    font-size: 1.125vh;
    color: #909090;

    background-color: #282828;
    background: url(wallpaper-dark-4k.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p {
    margin: 0;
    padding: 8px 4px 8px 4px;
}

div#status_bar, div#input_bar, div#message_bar {
    background-color: #282828;
}

div#input_bar {
    padding: 0 12px 12px 12px;
    font-size: 1.125vh;
}

div#message_bar {
    visibility: hidden;
}

div {
    margin: 0;
    padding: 0.3vh 0.3vw 0.3vh 0.3vw;
}

input[type="text"] + label::before {
    content: " ";
    color: #909090;
    padding-right: 0.275vw;
}

input[type="password"] + label::before {
    content: "󰟵  ";
    color: #909090;
    padding-right: 0.275vw;
}

form {
    display: flex;
}

label {
    order: 1;
}

input {
    order: 2;
}

input#user_input {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: "Iosevka Nerd Font", "sans-serif";
    font-size: 1.125vh;
    color: #cbcbcb;
    caret-color: #cbcbcb;

    background-color: #282828;
}

input#user_input:focus {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

::placeholder {
    color: #909090;
    opacity: 1;
    font-family: "Iosevka Nerd Font", "sans-serif";
}

p#message {
    font-family: "Iosevka Nerd Font", "sans-serif";
    font-size: 1.125vh;
    color: #cbcbcb;
}

.error_message {
    color: #ff9fca !important;
}

.info_message {
    color: #5bd9ff !important;
}

p#time {
    text-align: right;
    color: #cbcbcb;
}
